# Insuarance Calculation

### 1. Reading commision sheet

In [1]:
import pandas as pd

# df = pd.read_excel("/home/choice/Desktop/Insuarance/Motor July grid (1).xlsx", sheet_name="Chola CV_Jul 24")

# Chola TW_Jul-24
df = pd.read_excel("/home/choice/Desktop/Insuarance/Motor July grid (1).xlsx", sheet_name="Bajaj Agency 2W Grid")

In [3]:
df.head(8)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Motor 2W Comprehensive Grid,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Other than Motor Dealer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rate Structure on 1st Year NET Premium,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,New Business of 1826 and Renewal/Rollover of 1...,NaN,NaN,NaN,NaN,NaN,NaN
5,RTO_State_Name,0-50K,50K -1 Lakhs,1 Lakhs- 2 Lakhs,2lakhs to 3 Lakhs,More than 3 Lakhs,Remarks,Maximum On scooter
6,GUJARAT,0.2,0.25,0.3,0.325,0.35,NaN,0.4
7,UTTAR PRADESH,RTO Based,RTO Based,RTO Based,RTO Based,RTO Based,Refer RTO Basis Payout Sheet,Refer RTO Basis Payout Sheet

### 2. Handling Sheet

In [4]:
# Defining from which row, the table/header is starting 
# TODO: Make it dynamic

df_range = 5

In [5]:
df = df.iloc[df_range:]

In [6]:
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
5,RTO_State_Name,0-50K,50K -1 Lakhs,1 Lakhs- 2 Lakhs,2lakhs to 3 Lakhs,More than 3 Lakhs,Remarks,Maximum On scooter
6,GUJARAT,0.2,0.25,0.3,0.325,0.35,NaN,0.4
7,UTTAR PRADESH,RTO Based,RTO Based,RTO Based,RTO Based,RTO Based,Refer RTO Basis Payout Sheet,Refer RTO Basis Payout Sheet
8,REST OF WEST BENGAL,0.2,0.25,0.3,0.325,0.35,NaN,0.4
9,REST OF MAHARASHTRA,0.2,0.25,0.3,0.325,0.35,NaN,0.4

In [7]:
# Step 2: Drop rows with all NaN values
df = df.dropna(how='all').reset_index(drop=True)

# Drop columns where all values are NaN
df = df.dropna(axis=1, how='all')

In [8]:
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,RTO_State_Name,0-50K,50K -1 Lakhs,1 Lakhs- 2 Lakhs,2lakhs to 3 Lakhs,More than 3 Lakhs,Remarks,Maximum On scooter
1,GUJARAT,0.2,0.25,0.3,0.325,0.35,NaN,0.4
2,UTTAR PRADESH,RTO Based,RTO Based,RTO Based,RTO Based,RTO Based,Refer RTO Basis Payout Sheet,Refer RTO Basis Payout Sheet
3,REST OF WEST BENGAL,0.2,0.25,0.3,0.325,0.35,NaN,0.4
4,REST OF MAHARASHTRA,0.2,0.25,0.3,0.325,0.35,NaN,0.4

In [9]:
# Flash fill for all columns

## As per the above we see that there is null value in the column and that si due to the merge value in the original data to cover this filling the null value with previouse one
df = df.fillna(method='ffill', axis=1)

/tmp/ipykernel_14163/1606804452.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill', axis=1)

In [10]:
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,RTO_State_Name,0-50K,50K -1 Lakhs,1 Lakhs- 2 Lakhs,2lakhs to 3 Lakhs,More than 3 Lakhs,Remarks,Maximum On scooter
1,GUJARAT,0.2,0.25,0.3,0.325,0.35,0.35,0.4
2,UTTAR PRADESH,RTO Based,RTO Based,RTO Based,RTO Based,RTO Based,Refer RTO Basis Payout Sheet,Refer RTO Basis Payout Sheet
3,REST OF WEST BENGAL,0.2,0.25,0.3,0.325,0.35,0.35,0.4
4,REST OF MAHARASHTRA,0.2,0.25,0.3,0.325,0.35,0.35,0.4

In [11]:
# Defining which row is the heading

heading_row = 0

In [12]:
df.columns = df.iloc[heading_row]

In [13]:
df.head(5)

,RTO_State_Name,0-50K,50K -1 Lakhs,1 Lakhs- 2 Lakhs,2lakhs to 3 Lakhs,More than 3 Lakhs,Remarks,Maximum On scooter
0,RTO_State_Name,0-50K,50K -1 Lakhs,1 Lakhs- 2 Lakhs,2lakhs to 3 Lakhs,More than 3 Lakhs,Remarks,Maximum On scooter
1,GUJARAT,0.2,0.25,0.3,0.325,0.35,0.35,0.4
2,UTTAR PRADESH,RTO Based,RTO Based,RTO Based,RTO Based,RTO Based,Refer RTO Basis Payout Sheet,Refer RTO Basis Payout Sheet
3,REST OF WEST BENGAL,0.2,0.25,0.3,0.325,0.35,0.35,0.4
4,REST OF MAHARASHTRA,0.2,0.25,0.3,0.325,0.35,0.35,0.4

In [14]:
# Dropping index of the heading

df = df.drop(index=heading_row)

In [15]:
df.head(5)

,RTO_State_Name,0-50K,50K -1 Lakhs,1 Lakhs- 2 Lakhs,2lakhs to 3 Lakhs,More than 3 Lakhs,Remarks,Maximum On scooter
1,GUJARAT,0.2,0.25,0.3,0.325,0.35,0.35,0.4
2,UTTAR PRADESH,RTO Based,RTO Based,RTO Based,RTO Based,RTO Based,Refer RTO Basis Payout Sheet,Refer RTO Basis Payout Sheet
3,REST OF WEST BENGAL,0.2,0.25,0.3,0.325,0.35,0.35,0.4
4,REST OF MAHARASHTRA,0.2,0.25,0.3,0.325,0.35,0.35,0.4
5,REST OF ANDHRA PRADESH,0.2,0.25,0.3,0.325,0.35,0.35,0.4

In [16]:
# Step 1: Replace null or unnamed headers with inferred names (if needed)
unnamed_columns = df.columns.str.contains('^Unnamed')
new_columns = []
last_valid_header = None

for i, col in enumerate(df.columns):
    if unnamed_columns[i]:
        if last_valid_header is not None:
            new_columns.append(last_valid_header)
        else:
            new_columns.append('Unnamed')
    else:
        new_columns.append(col)
        last_valid_header = col

df.columns = new_columns

# Function to find the first numerical value row index
def find_first_numerical_row(df):
    for idx, row in df.iterrows():
        if row.apply(lambda x: isinstance(x, (int, float)) or (isinstance(x, str) and x.isdigit())).any():
            return idx
    return None

# Step 2: Find the first numerical row
first_num_row_idx = find_first_numerical_row(df)

# Step 3: Extract original headers and rows above the first numerical row
original_headers = df.columns.tolist()
above_rows = df.iloc[:first_num_row_idx]

# first_row = above_rows.iloc[0].tolist()

# Collect all values from above rows into a single list
above_rows_values = []
for idx in range(first_num_row_idx):
    above_rows_values.extend(above_rows.iloc[idx].tolist())

# # Step 3: Combine the original headers with the first row of data
# combined_headers = [f"{str(header)}_{str(first_row_value)}" for header, first_row_value in zip(original_headers,  first_row)]


combined_headers =  [f"{str(header)}_{str(value)}" for header, value in zip(original_headers, above_rows_values)]
# # Step 4: Create a new DataFrame with combined headers and the rest of the data
# df = pd.DataFrame(df.iloc[1:].values, columns=combined_headers)

new_df = pd.DataFrame(df.iloc[first_num_row_idx:].values, columns=combined_headers)

In [17]:
new_df.head(5)

,RTO_State_Name_GUJARAT,0-50K_0.19999999999999996,50K -1 Lakhs_0.24999999999999994,1 Lakhs- 2 Lakhs_0.29999999999999993,2lakhs to 3 Lakhs_0.32499999999999996,More than 3 Lakhs_0.35,Remarks_0.35,Maximum On scooter_0.4
0,UTTAR PRADESH,RTO Based,RTO Based,RTO Based,RTO Based,RTO Based,Refer RTO Basis Payout Sheet,Refer RTO Basis Payout Sheet
1,REST OF WEST BENGAL,0.2,0.25,0.3,0.325,0.35,0.35,0.4
2,REST OF MAHARASHTRA,0.2,0.25,0.3,0.325,0.35,0.35,0.4
3,REST OF ANDHRA PRADESH,0.2,0.25,0.3,0.325,0.35,0.35,0.4
4,BANGALORE,0.2,0.25,0.3,0.325,0.35,0.35,0.35

In [18]:
## As per the above we see that there is null value in the column and that si due to the merge value in the original data to cover this filling the null value with previouse one

# Flash Fill for columns
new_df = new_df.fillna(method='ffill', axis=0)

/tmp/ipykernel_14163/1887811094.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = new_df.fillna(method='ffill', axis=0)

In [19]:
new_df.head(5)

,RTO_State_Name_GUJARAT,0-50K_0.19999999999999996,50K -1 Lakhs_0.24999999999999994,1 Lakhs- 2 Lakhs_0.29999999999999993,2lakhs to 3 Lakhs_0.32499999999999996,More than 3 Lakhs_0.35,Remarks_0.35,Maximum On scooter_0.4
0,UTTAR PRADESH,RTO Based,RTO Based,RTO Based,RTO Based,RTO Based,Refer RTO Basis Payout Sheet,Refer RTO Basis Payout Sheet
1,REST OF WEST BENGAL,0.2,0.25,0.3,0.325,0.35,0.35,0.4
2,REST OF MAHARASHTRA,0.2,0.25,0.3,0.325,0.35,0.35,0.4
3,REST OF ANDHRA PRADESH,0.2,0.25,0.3,0.325,0.35,0.35,0.4
4,BANGALORE,0.2,0.25,0.3,0.325,0.35,0.35,0.35

In [20]:
# Index from which commision starts
index = 1

value = new_df.columns[:index]

In [21]:
value

Index(['RTO_State_Name_GUJARAT'], dtype='object')

In [22]:
new_df.columns.dtype

dtype('O')

In [23]:
# Melt the DataFrame
id_vars = value
value_vars = [col for col in new_df.columns if col not in id_vars]
melted_df = pd.melt(new_df, id_vars=id_vars, value_vars=value_vars, 
                    var_name='variable', value_name='value')

In [24]:
melted_df

,RTO_State_Name_GUJARAT,variable,value
0,UTTAR PRADESH,0-50K_0.19999999999999996,RTO Based
1,REST OF WEST BENGAL,0-50K_0.19999999999999996,0.2
2,REST OF MAHARASHTRA,0-50K_0.19999999999999996,0.2
3,REST OF ANDHRA PRADESH,0-50K_0.19999999999999996,0.2
4,BANGALORE,0-50K_0.19999999999999996,0.2
...,...,...,...
275,5,Maximum On scooter_0.4,Volume indicated above is monthly Volume of 1s...
276,6,Maximum On scooter_0.4,Payout rate is applicable on NET of 1st year only
277,7,Maximum On scooter_0.4,"For Long Term Policies, 2nd year onwards payou..."
278,8,Maximum On scooter_0.4,Declined states are as per IRDA rates
279,9,Maximum On scooter_0.4,RTO wise State Mapping Flie is attached.Refer ...

In [25]:
import pandas as pd

# Read the Excel file into a DataFrame
# df = pd.read_excel('your_file.xlsx')

# Sample DataFrame


# Define the hierarchical levels
levels = melted_df.columns

def build_tree(df, levels):
    if len(levels) == 1:
        return df[levels[0]].tolist()
    
    unique_values = df[levels[0]].unique()
    tree = {}
    for value in unique_values:
        subtree_df = df[df[levels[0]] == value]
        tree[value] = build_tree(subtree_df, levels[1:])
    
    return tree

# Build the hierarchical tree
tree = build_tree(melted_df, levels)

# Print the tree
import pprint
pprint.pprint(tree)

{1: {'0-50K_0.19999999999999996': ['Payouts will be based on RTO state mapping '
                                   'as per attached file.Refer Sheet Std-2W '
                                   'RTO Bases Payouts Files'],
     '1 Lakhs- 2 Lakhs_0.29999999999999993': ['Payouts will be based on RTO '
                                              'state mapping as per attached '
                                              'file.Refer Sheet Std-2W RTO '
                                              'Bases Payouts Files'],
     '2lakhs to 3 Lakhs_0.32499999999999996': ['Payouts will be based on RTO '
                                               'state mapping as per attached '
                                               'file.Refer Sheet Std-2W RTO '
                                               'Bases Payouts Files'],
     '50K -1 Lakhs_0.24999999999999994': ['Payouts will be based on RTO state '
                                          'mapping as per attached file.Refer '
                                          'Sheet Std-2W RTO Bases Payouts '
                                          'Files'],
     'Maximum On scooter_0.4': ['Payouts will be based on RTO state mapping as '
                                'per attached file.Refer Sheet Std-2W RTO '
                                'Bases Payouts Files'],
     'More than 3 Lakhs_0.35': ['Payouts will be based on RTO state mapping as '
                                'per attached file.Refer Sheet Std-2W RTO '
                                'Bases Payouts Files'],
     'Remarks_0.35': ['Payouts will be based on RTO state mapping as per '
                      'attached file.Refer Sheet Std-2W RTO Bases Payouts '
                      'Files']},
 2: {'0-50K_0.19999999999999996': ['Not applicable to New Vehicles of Bajaj, '
                                   'Vespa and Royal enfield Make- Above 60% CD '
                                   '- MISP rate; For Below 60% CD -eligible '
                                   'for 60% on OD'],
     '1 Lakhs- 2 Lakhs_0.29999999999999993': ['Not applicable to New Vehicles '
                                              'of Bajaj, Vespa and Royal '
                                              'enfield Make- Above 60% CD - '
                                              'MISP rate; For Below 60% CD '
                                              '-eligible for 60% on OD'],
     '2lakhs to 3 Lakhs_0.32499999999999996': ['Not applicable to New Vehicles '
                                               'of Bajaj, Vespa and Royal '
                                               'enfield Make- Above 60% CD - '
                                               'MISP rate; For Below 60% CD '
                                               '-eligible for 60% on OD'],
     '50K -1 Lakhs_0.24999999999999994': ['Not applicable to New Vehicles of '
                                          'Bajaj, Vespa and Royal enfield '
                                          'Make- Above 60% CD - MISP rate; For '
                                          'Below 60% CD -eligible for 60% on '
                                          'OD'],
     'Maximum On scooter_0.4': ['Not applicable to New Vehicles of Bajaj, '
                                'Vespa and Royal enfield Make- Above 60% CD - '
                                'MISP rate; For Below 60% CD -eligible for 60% '
                                'on OD'],
     'More than 3 Lakhs_0.35': ['Not applicable to New Vehicles of Bajaj, '
                                'Vespa and Royal enfield Make- Above 60% CD - '
                                'MISP rate; For Below 60% CD -eligible for 60% '
                                'on OD'],
     'Remarks_0.35': ['Not applicable to New Vehicles of Bajaj, Vespa and '
                      'Royal enfield Make- Above 60% CD - MISP rate; For Below '
                      '60% CD -eligible for 60% on OD']},
 3: {'0-50K_0.19999999999999996': ['For Renewal and Rollover business of Make '
                                   'Bajaj/Vespa and RE : Rates are 5% lower as '
                                   'compared to NET rate grid of state and RTO '
                                   'based grid for Bike and scooter as well. '
                                   'For Above 60% CD= MISP rate.'],
     '1 Lakhs- 2 Lakhs_0.29999999999999993': ['For Renewal and Rollover '
                                              'business of Make Bajaj/Vespa '
                                              'and RE : Rates are 5% lower as '
                                              'compared to NET rate grid of '
                                              'state and RTO based grid for '
                                              'Bike and scooter as well. For '
                                              'Above 60% CD= MISP rate.'],
     '2lakhs to 3 Lakhs_0.32499999999999996': ['For Renewal and Rollover '
                                               'business of Make Bajaj/Vespa '
                                               'and RE : Rates are 5% lower as '
                                               'compared to NET rate grid of '
                                               'state and RTO based grid for '
                                               'Bike and scooter as well. For '
                                               'Above 60% CD= MISP rate.'],
     '50K -1 Lakhs_0.24999999999999994': ['For Renewal and Rollover business '
                                          'of Make Bajaj/Vespa and RE : Rates '
                                          'are 5% lower as compared to NET '
                                          'rate grid of state and RTO based '
                                          'grid for Bike and scooter as well. '
                                          'For Above 60% CD= MISP rate.'],
     'Maximum On scooter_0.4': ['For Renewal and Rollover business of Make '
                                'Bajaj/Vespa and RE : Rates are 5% lower as '
                                'compared to NET rate grid of state and RTO '
                                'based grid for Bike and scooter as well. For '
                                'Above 60% CD= MISP rate.'],
     'More than 3 Lakhs_0.35': ['For Renewal and Rollover business of Make '
                                'Bajaj/Vespa and RE : Rates are 5% lower as '
                                'compared to NET rate grid of state and RTO '
                                'based grid for Bike and scooter as well. For '
                                'Above 60% CD= MISP rate.'],
     'Remarks_0.35': ['For Renewal and Rollover business of Make Bajaj/Vespa '
                      'and RE : Rates are 5% lower as compared to NET rate '
                      'grid of state and RTO based grid for Bike and scooter '
                      'as well. For Above 60% CD= MISP rate.']},
 4: {'0-50K_0.19999999999999996': ['1871 (SAOD) is at MISP i.e 22.5%'],
     '1 Lakhs- 2 Lakhs_0.29999999999999993': ['1871 (SAOD) is at MISP i.e '
                                              '22.5%'],
     '2lakhs to 3 Lakhs_0.32499999999999996': ['1871 (SAOD) is at MISP i.e '
                                               '22.5%'],
     '50K -1 Lakhs_0.24999999999999994': ['1871 (SAOD) is at MISP i.e 22.5%'],
     'Maximum On scooter_0.4': ['1871 (SAOD) is at MISP i.e 22.5%'],
     'More than 3 Lakhs_0.35': ['1871 (SAOD) is at MISP i.e 22.5%'],
     'Remarks_0.35': ['1871 (SAOD) is at MISP i.e 22.5%']},
 5: {'0-50K_0.19999999999999996': ['Volume indicated above is monthly Volume '
                                   'of 1st Year Premium for Motor 2W of All '
                                   'States only and applicability as per Grid '
                                   'rate of respective state.'],
     '1 Lakhs- 2 Lakhs_0.29999999999999993': ['Volume indicated above is '
                                              'monthly Volume of 1st Year '
                                              'Premium for Motor 2W of All '
                                              'States only and applicability '
                                              'as per Grid rate of respective '
                                              'state.'],
     '2lakhs to 3 Lakhs_0.32499999999999996': ['Volume indicated above is '
                                               'monthly Volume of 1st Year '
                                               'Premium for Motor 2W of All '
                                               'States only and applicability '
                                               'as per Grid rate of respective '
                                               'state.'],
     '50K -1 Lakhs_0.24999999999999994': ['Volume indicated above is monthly '
                                          'Volume of 1st Year Premium for '
                                          'Motor 2W of All States only and '
                                          'applicability as per Grid rate of '
                                          'respective state.'],
     'Maximum On scooter_0.4': ['Volume indicated above is monthly Volume of '
                                '1st Year Premium for Motor 2W of All States '
                                'only and applicability as per Grid rate of '
                                'respective state.'],
     'More than 3 Lakhs_0.35': ['Volume indicated above is monthly Volume of '
                                '1st Year Premium for Motor 2W of All States '
                                'only and applicability as per Grid rate of '
                                'respective state.'],
     'Remarks_0.35': ['Volume indicated above is monthly Volume of 1st Year '
                      'Premium for Motor 2W of All States only and '
                      'applicability as per Grid rate of respective state.']},
 6: {'0-50K_0.19999999999999996': ['Payout rate is applicable on NET of 1st '
                                   'year only'],
     '1 Lakhs- 2 Lakhs_0.29999999999999993': ['Payout rate is applicable on '
                                              'NET of 1st year only'],
     '2lakhs to 3 Lakhs_0.32499999999999996': ['Payout rate is applicable on '
                                               'NET of 1st year only'],
     '50K -1 Lakhs_0.24999999999999994': ['Payout rate is applicable on NET of '
                                          '1st year only'],
     'Maximum On scooter_0.4': ['Payout rate is applicable on NET of 1st year '
                                'only'],
     'More than 3 Lakhs_0.35': ['Payout rate is applicable on NET of 1st year '
                                'only'],
     'Remarks_0.35': ['Payout rate is applicable on NET of 1st year only']},
 7: {'0-50K_0.19999999999999996': ['For Long Term Policies, 2nd year onwards '
                                   'payouts are only as per IRDA guidelines; '
                                   'applicable only for IRDA codes.'],
     '1 Lakhs- 2 Lakhs_0.29999999999999993': ['For Long Term Policies, 2nd '
                                              'year onwards payouts are only '
                                              'as per IRDA guidelines; '
                                              'applicable only for IRDA '
                                              'codes.'],
     '2lakhs to 3 Lakhs_0.32499999999999996': ['For Long Term Policies, 2nd '
                                               'year onwards payouts are only '
                                               'as per IRDA guidelines; '
                                               'applicable only for IRDA '
                                               'codes.'],
     '50K -1 Lakhs_0.24999999999999994': ['For Long Term Policies, 2nd year '
                                          'onwards payouts are only as per '
                                          'IRDA guidelines; applicable only '
                                          'for IRDA codes.'],
     'Maximum On scooter_0.4': ['For Long Term Policies, 2nd year onwards '
                                'payouts are only as per IRDA guidelines; '
                                'applicable only for IRDA codes.'],
     'More than 3 Lakhs_0.35': ['For Long Term Policies, 2nd year onwards '
                                'payouts are only as per IRDA guidelines; '
                                'applicable only for IRDA codes.'],
     'Remarks_0.35': ['For Long Term Policies, 2nd year onwards payouts are '
                      'only as per IRDA guidelines; applicable only for IRDA '
                      'codes.']},
 8: {'0-50K_0.19999999999999996': ['Declined states are as per IRDA rates'],
     '1 Lakhs- 2 Lakhs_0.29999999999999993': ['Declined states are as per IRDA '
                                              'rates'],
     '2lakhs to 3 Lakhs_0.32499999999999996': ['Declined states are as per '
                                               'IRDA rates'],
     '50K -1 Lakhs_0.24999999999999994': ['Declined states are as per IRDA '
                                          'rates'],
     'Maximum On scooter_0.4': ['Declined states are as per IRDA rates'],
     'More than 3 Lakhs_0.35': ['Declined states are as per IRDA rates'],
     'Remarks_0.35': ['Declined states are as per IRDA rates']},
 9: {'0-50K_0.19999999999999996': ['RTO wise State Mapping Flie is '
                                   'attached.Refer Sheet Std-2W RTO Bases '
                                   'Payouts Files'],
     '1 Lakhs- 2 Lakhs_0.29999999999999993': ['RTO wise State Mapping Flie is '
                                              'attached.Refer Sheet Std-2W RTO '
                                              'Bases Payouts Files'],
     '2lakhs to 3 Lakhs_0.32499999999999996': ['RTO wise State Mapping Flie is '
                                               'attached.Refer Sheet Std-2W '
                                               'RTO Bases Payouts Files'],
     '50K -1 Lakhs_0.24999999999999994': ['RTO wise State Mapping Flie is '
                                          'attached.Refer Sheet Std-2W RTO '
                                          'Bases Payouts Files'],
     'Maximum On scooter_0.4': ['RTO wise State Mapping Flie is attached.Refer '
                                'Sheet Std-2W RTO Bases Payouts Files'],
     'More than 3 Lakhs_0.35': ['RTO wise State Mapping Flie is attached.Refer '
                                'Sheet Std-2W RTO Bases Payouts Files'],
     'Remarks_0.35': ['RTO wise State Mapping Flie is attached.Refer Sheet '
                      'Std-2W RTO Bases Payouts Files']},
 'ANDAMAN & NICOBAR ISLANDS': {'0-50K_0.19999999999999996': [0.19999999999999996],
                               '1 Lakhs- 2 Lakhs_0.29999999999999993': [0.29999999999999993],
                               '2lakhs to 3 Lakhs_0.32499999999999996': [0.32499999999999996],
                               '50K -1 Lakhs_0.24999999999999994': [0.24999999999999994],
                               'Maximum On scooter_0.4': [0.4],
                               'More than 3 Lakhs_0.35': [0.35],
                               'Remarks_0.35': [0.35]},
 'ASSAM': {'0-50K_0.19999999999999996': ['RTO Based'],
           '1 Lakhs- 2 Lakhs_0.29999999999999993': ['RTO Based'],
           '2lakhs to 3 Lakhs_0.32499999999999996': ['RTO Based'],
           '50K -1 Lakhs_0.24999999999999994': ['RTO Based'],
           'Maximum On scooter_0.4': ['Refer RTO Basis Payout Sheet'],
           'More than 3 Lakhs_0.35': ['RTO Based'],
           'Remarks_0.35': ['Refer RTO Basis Payout Sheet']},
 'BANGALORE': {'0-50K_0.19999999999999996': [0.19999999999999996],
               '1 Lakhs- 2 Lakhs_0.29999999999999993': [0.29999999999999993],
               '2lakhs to 3 Lakhs_0.32499999999999996': [0.32499999999999996],
               '50K -1 Lakhs_0.24999999999999994': [0.24999999999999994],
               'Maximum On scooter_0.4': [0.35],
               'More than 3 Lakhs_0.35': [0.35],
               'Remarks_0.35': [0.35]},
 'BIHAR': {'0-50K_0.19999999999999996': [0.19999999999999996],
           '1 Lakhs- 2 Lakhs_0.29999999999999993': [0.29999999999999993],
           '2lakhs to 3 Lakhs_0.32499999999999996': [0.32499999999999996],
           '50K -1 Lakhs_0.24999999999999994': [0.24999999999999994],
           'Maximum On scooter_0.4': [0.4],
           'More than 3 Lakhs_0.35': [0.35],
           'Remarks_0.35': [0.35]},
 'CHANDIGARH': {'0-50K_0.19999999999999996': ['RTO Based'],
                '1 Lakhs- 2 Lakhs_0.29999999999999993': ['RTO Based'],
                '2lakhs to 3 Lakhs_0.32499999999999996': ['RTO Based'],
                '50K -1 Lakhs_0.24999999999999994': ['RTO Based'],
                'Maximum On scooter_0.4': ['Refer RTO Basis Payout Sheet'],
                'More than 3 Lakhs_0.35': ['RTO Based'],
                'Remarks_0.35': ['Refer RTO Basis Payout Sheet']},
 'CHATTISGARH': {'0-50K_0.19999999999999996': ['RTO Based'],
                 '1 Lakhs- 2 Lakhs_0.29999999999999993': ['RTO Based'],
                 '2lakhs to 3 Lakhs_0.32499999999999996': ['RTO Based'],
                 '50K -1 Lakhs_0.24999999999999994': ['RTO Based'],
                 'Maximum On scooter_0.4': ['Refer RTO Basis Payout Sheet'],
                 'More than 3 Lakhs_0.35': ['RTO Based'],
                 'Remarks_0.35': ['Refer RTO Basis Payout Sheet']},
 'CHENNAI': {'0-50K_0.19999999999999996': ['RTO Based'],
             '1 Lakhs- 2 Lakhs_0.29999999999999993': ['RTO Based'],
             '2lakhs to 3 Lakhs_0.32499999999999996': ['RTO Based'],
             '50K -1 Lakhs_0.24999999999999994': ['RTO Based'],
             'Maximum On scooter_0.4': ['Refer RTO Basis Payout Sheet'],
             'More than 3 Lakhs_0.35': ['RTO Based'],
             'Remarks_0.35': ['Refer RTO Basis Payout Sheet']},
 'DELHI&NCR': {'0-50K_0.19999999999999996': [0.14999999999999997],
               '1 Lakhs- 2 Lakhs_0.29999999999999993': [0.24999999999999997],
               '2lakhs to 3 Lakhs_0.32499999999999996': [0.27499999999999997],
               '50K -1 Lakhs_0.24999999999999994': [0.19999999999999996],
               'Maximum On scooter_0.4': [0.3],
               'More than 3 Lakhs_0.35': [0.3],
               'Remarks_0.35': [0.3]},
 'GOA': {'0-50K_0.19999999999999996': [0.19999999999999996],
         '1 Lakhs- 2 Lakhs_0.29999999999999993': [0.29999999999999993],
         '2lakhs to 3 Lakhs_0.32499999999999996': [0.32499999999999996],
         '50K -1 Lakhs_0.24999999999999994': [0.24999999999999994],
         'Maximum On scooter_0.4': [0.4],
         'More than 3 Lakhs_0.35': [0.35],
         'Remarks_0.35': [0.35]},
 'HYDERABAD': {'0-50K_0.19999999999999996': [0.19999999999999996],
               '1 Lakhs- 2 Lakhs_0.29999999999999993': [0.29999999999999993],
               '2lakhs to 3 Lakhs_0.32499999999999996': [0.32499999999999996],
               '50K -1 Lakhs_0.24999999999999994': [0.24999999999999994],
               'Maximum On scooter_0.4': [0.4],
               'More than 3 Lakhs_0.35': [0.35],
               'Remarks_0.35': [0.35]},
 'JAMMU & KASHMIR': {'0-50K_0.19999999999999996': [0.19999999999999996],
                     '1 Lakhs- 2 Lakhs_0.29999999999999993': [0.29999999999999993],
                     '2lakhs to 3 Lakhs_0.32499999999999996': [0.32499999999999996],
                     '50K -1 Lakhs_0.24999999999999994': [0.24999999999999994],
                     'Maximum On scooter_0.4': [0.4],
                     'More than 3 Lakhs_0.35': [0.35],
                     'Remarks_0.35': [0.35]},
 'JHARKHAND': {'0-50K_0.19999999999999996': [0.19999999999999996],
               '1 Lakhs- 2 Lakhs_0.29999999999999993': [0.29999999999999993],
               '2lakhs to 3 Lakhs_0.32499999999999996': [0.32499999999999996],
               '50K -1 Lakhs_0.24999999999999994': [0.24999999999999994],

In [26]:
import json

with open("Bajaj 2W Grid.json", "w") as jsonFile:
    json.dump(tree, jsonFile, indent=4)